---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=qy8vdpfcgsxtfw657mnbu7nc&format=json&show=storeType,longName,city,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "currentPage": 1,
          "total": 16,
          "totalPages": 2,
          "queryTime": "0.011",
          "totalTime": "0.030",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=storeType,longName,city,phone&format=json&apiKey=qy8vdpfcgsxtfw657mnbu7nc",
          "stores": [
            {
              "storeType": "Mobile SAS",
              "longName": "BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER",
              "city": "DENVER",
              "phone": "303-270-9189"
            },
            {
              "storeType": "Big Box",
              "longName": "BEST BUY - BELMAR",
              "city": "LAKEWOOD",
              "phone": "303-742-8039"
            },
            {
              "storeType": "Big Box",
              "longName": "BEST BUY - COLORADO BLVD",
              "city": "DENVER",
              "phone": "303-758-5805"
            },
            {
              "storeType": "Big Box",
              "longName": "BEST BUY - DE[...]
